
/* Written by @damdeez */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
    background: transparent;
}

body {}

a {
    text-decoration: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 1.0);
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

    a:hover {
        
    }

article {
    background-color: rgb(255, 255, 255);
}


/***************
*** MAIN CSS ***
***************/

#top {
    width: 100%;
    min-height: 1250px;
    margin-top: 30px;
}

    #profile_pic {
        display: block;
        width: 16%;
        margin: 0px auto;
        border: 2px solid rgba(0, 0, 0, 0.08);
        padding: 4px;
        border-radius: 50%;
        border-radi
    }

.center_content {
    width: 100%;
    margin: 0px auto;
}

#headline {
    font-family: "Pacifico", "Questrial", Verdana, sans-serif;
    font-size: 6.5em;
    color: rgb(210, 95, 80);
    text-shadow: 0px 0px 0px rgb(0,0,0);
    letter-spacing: -5px;
    text-align: center;
}

#subtext {
    font-family: "Open Sans", "Comfortaa", Verdana, sans-serif;
    width: 60%;
    font-size: 1.3em;
    font-weight: 300;
    color: rgb(60, 60, 60);
    text-align: center;
    letter-spacing: -1px;
    word-spacing: 1px;
    }

    #subtext a {
        font-weight: 400;
        color: rgb(20, 20, 20);
    }

    #subtext a:hover {
        border-bottom: 1px solid;
    }

#contact_button a {
    display: block;
    width: 170px;
    margin: 70px auto;
    padding: 12px 30px 12px 30px;
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border: 2px solid rgb(210, 95, 80);
    color: rgb(210, 95, 80);
    background-color: transparent;
    transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

    #contact_button a:hover {
        background-color: rgb(210, 95, 80);
        color: rgb(255, 255, 255);
        border: 2px solid rgb(200, 85, 70);
    }

#seperator {
    border: 3px dotted #d0d0d0;
    width: 40%;
    margin: 70px auto;
}

#social {
    text-align: center;
    margin-bottom: 180px;
}

    #social a {
        font-size: 2em;
        color: rgba(0, 0, 0, 0.6);
    }

    #social a:hover {
        color: rgba(0, 0, 0, 0.95);
        border-bottom: solid 2px rgb(210, 95, 80);
        padding-bottom: 6px;
    }

#arrowdown {
    width: 40px;
    margin: 50px auto;
}

    #arrowdown a img {
        width: 40px;
        opacity: 0.6;
        transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
    }

    #arrowdown a img:hover {
        opacity: 0.95;
    }

.examples {
    color: rgb(40, 40, 40);
    background-color: rgb(249, 245, 244);
}

    .examples h3 {
        font-family: "Roboto", Verdana, sans-serif;
        font-size: 3.4em;
        font-weight: 600;
        text-shadow: 0px 0px 0px #F0F0F0;
        text-align: center;
        padding-top: 70px;
    }

    .examples p {
        width: 50%;
        font-size: 1.2em;
        margin: 20px auto;
        font-weight: 100;
        font-family: "Open Sans", "Comfortaa", Verdana, sans-serif;
    }

        .examples p a {
            font-weight: 500;
        }

        .examples p a:hover {
            border-bottom: 1px solid;
        }

    .examples img {
        display: block;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 60%;
        max-width: 900px;
        margin: 40px auto;
        box-shadow: 0 0 6px #B0B0B0;
    }

    #ku2 {
        height: 1000px;
        overflow: hidden;
    }

    #rynet, #damirhara, #bcruz, #geekzombie, #threerivers {
        margin-top: 80px;
        height: 1000px;
        overflow: hidden;
    }

#plus {
    width: 50px;
    margin: 20px auto;
    font-size: 80px;
    font-family: "Open Sans", "Comfortaa", Verdana, sans-serif;
}

footer {
    width: 100%;
    height: 60px;
}
    footer p {
        margin: 0;
        display: inline;
    }

    #foot-container {
        padding-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: "Open Sans", "Comfortaa", Verdana, sans-serif;
        letter-spacing: -1px;
        color: rgba(60, 60, 60, 1);
        font-weight: 400;
        font-size: 14px;
    }

    .madein {
        float: right;
    }

        .madein img {
            width: 30px;
        }

#backtop {
    display: none;
}

    #backtop a {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 40px;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
        padding-top: 12px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.2);
        color: #FFF;
    }

    #backtop a:hover {
        opacity: 0.8;
    }


/***************
*** 404 Page ***
***************/

#about404 {
    margin-top: 10%;
    text-decoration: none;
    font-family: "Open Sans", Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: -1pt;
    word-spacing: 2pt;
    color: #0F0F0F; 
}

    #backhome {
        width: 200px;
        margin: 30px auto;
    }

    #backhome a {
        border: 2px solid #0F0F0F;
        padding: 10px 28px 10px 30px;
        text-decoration: none;
        color: #0F0F0F;
    }

    #backhome:hover {
        opacity: 0.7;
    }


/********************
*** MEDIA QUERIES ***
********************/


@media screen and (max-width: 1150px) {
    #headline {
        font-size: 6.2em;
    }

    #subtext {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 920px) {
    #headline { 
        font-size: 5.2em;
    }

}

@media screen and (max-width: 780px) {
    #profile_pic {
            width: 30%;
        }

    #headline {
        font-size: 3.8em;
        letter-spacing: 0px;
    }

    #subtext {
        width: 75%;
    }

    .examples p {
        font-size: 1em;
        width: 70%;
    }

    .examples img {
        width: 80%;
    }

}

@media screen and (max-width: 570px) {
    #top {

    }

    #headline {
        font-size: 2.5em;
        letter-spacing: 0px;
    }

    #subtext {
        font-size: 1.1em;
    }

    #contact_button a {
        padding: 10px 18px 10px 18px;
        font-size: 14px;
        width: 140px;
    }

    .examples h3 {
        font-size: 2.5em;
    }

    #rynet, #damirhara, #bcruz, #geekzombie, #threerivers, #ku2 {
        height: 900px;
    }

    #backtop a {
        display: none;
    }
}
