/************************/
/* Written by @damdeez */
/**********************/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    font-size: 100%;
    font: inherit;
    background: transparent;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
body {
    background-color: #ffffff;
}
#dh-container {min-width: 320px;}

/*****************/
/*** MAIN CSS ***/
/***************/

#top {
    width: 100%;
    min-height: 1000px;
    padding-top: 90px;
    background: url('../files/keymouse-bckgrnd.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
#profile_pic {
    display: block;
    width: 16%;
    max-width: 350px;
    margin: 0px auto;
    border: 2px solid #fefefe;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#profile_pic:hover {
    opacity: 0.9;
}
#about-site {
    display: none;
    width: 37%;
    margin: 10px auto;
    background-color: #fefefe;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    padding: 0 10px 15px;
    color: #606060;
    text-align: center;
}
#about-site a:hover {
    text-decoration: underline;
}
#about-arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fefefe;
    margin: 0 auto;
    position: relative;
    top: -8px;
    display: block;
}
.center_content {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}
#headline {
    margin-top: 75px;
    font-family: "Montserrat", Helvetica, "Questrial", Verdana, sans-serif;
    font-size: 4em;
    color: #fefefe;
    height: 170px;
    letter-spacing: -4px;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#subtext {
    margin: 40px auto 0;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    width: 62%;
    font-size: 1.2em;
    font-weight: 300;
    color: #fefefe;
    text-align: center;
    letter-spacing: -0.5px;
    word-spacing: 1px;
}
#subtext a {
    font-weight: 700;
    color: rgb(210, 95, 80);
}
#subtext a:hover {
    color: #efefef;
    background-color: rgb(210, 95, 80);
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
    transition: height .5s ease-in-out;
}
#contact_button a {
    display: block;
    width: 170px;
    margin: 80px auto;
    padding: 12px 30px;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    border: 2px solid #fefefe;
    color: #fefefe;
    background-color: transparent;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#contact_button a:hover {
    background-color: rgb(210, 95, 80);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(200, 85, 70);
    padding: 12px 15px;
    border-radius: 5px;
}
#arrowdown {
    width: 20%;
    margin: 90px auto;
    text-align: center;
}
#arrowdown a {
    color: #fefefe;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}
#arrowdown a img {
    margin-top: 10px;
    width: 40px;
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#arrowdown a:hover {
    opacity: 0.75;
}
.examples {
    color: #474747;
    background-color: #fefefe;
    height: 1000px;
    overflow: hidden;
}
.everyother {background-color: #f5f5f5;}
.examples h3 {
    font-family: "Roboto", Verdana, sans-serif;
    font-size: 3.4em;
    font-weight: 600;
    text-align: center;
    padding-top: 70px;
}
.examples p {
    width: 50%;
    max-width: 1200px;
    font-size: 1.2em;
    margin: 20px auto;
    font-weight: 100;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
}
.examples p a {
    font-weight: 500;
}
.examples p a:hover {
    border-bottom: 1px solid;
}
.example-imgs {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 0 4px #B0B0B0;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}
.next-example img {
    display: block;
    padding: 40px 0 40px 0;
    width: 50px;
    margin: 0 auto;
    opacity: .85;
}
footer {
    width: 100%;
    height: 60px;
}
footer p {
    margin: 0;
    display: inline;
}
#foot-container {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    letter-spacing: -1px;
    color: rgba(60, 60, 60, 1);
    font-weight: 400;
    font-size: 14px;
}
.madein {
    float: right;
}
.madein img {
    width: 30px;
}
#listening-to {
    text-align: center;
    max-width: 400px;
    overflow: hidden;
    margin: 0 auto;
    display: inline;
}
#backtop a {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 12px 0 0 0;
    background: url("../files/arrowup.png") no-repeat 50% #555;
    background-size: 20px;
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#backtop a:hover {
    opacity: 0.9;
}
.typed-cursor {
    opacity: 1;
    color: #fefefe;
    display: inline-block;
    padding: 0 6px;
    font-weight: 100;
    font-family: Verdana, Georgia, Arial, sans-serif;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
   50% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes blink {
    0% {opacity: 1;}
   50% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes blink {
    0% {opacity: 1;}
   50% {opacity: 0;}
  100% {opacity: 1;}
}

/***************
*** 404 Page ***
***************/

#about404 {
    width: 450px;
    margin: 80px auto;
    text-align: center;
}
#about404 span {
    color: rgb(210, 95, 80);
    font-family: "Montserrat", "Questrial", Verdana, sans-serif;
    font-size: 72px;
    word-spacing: 10px;
}
#about404 p {
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: -1pt;
    word-spacing: 2pt;
    color: #0F0F0F;
}
#backhome {
    width: 200px;
    margin: 60px auto;
}
#backhome a {
    border: 2px solid #0F0F0F;
    padding: 10px 28px 10px 30px;
    text-decoration: none;
    color: #0F0F0F;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif;
}
#backhome a:hover {
    color: #fefefe;
    background-color: rgb(210, 95, 80);
    border: 2px solid rgb(225, 110, 95);
}

/********************
*** MEDIA QUERIES ***
********************/

@media screen and (max-width: 1150px) {
    #subtext {
       font-size: 1.2em;
    }
}
@media screen and (max-width: 920px) {
    #profile_pic {
        width: 25%;
    }
    #headline {
       font-size: 3.7em;
       height: 130px;
    }
}
@media screen and (max-width: 780px) {
    #profile_pic {
        width: 30%;
    }
    #headline {
       font-size: 2.7em;
       letter-spacing: -1.5px;
    }
    #subtext {
        width: 75%;
    }
    #next-example img {
        width: 40px;
    }
    .examples p {
        font-size: 1em;
        width: 70%;
    }
    .examples img {
        width: 80%;
    }
}
@media screen and (max-width: 719px) {
    #listening-to {
        display: none;
    }
}
@media screen and (max-width: 570px) {
    #top {
        min-height: 900px;
    }
    #about-site {
        width: 70%;
    }
    #headline {
        font-size: 2em;
        letter-spacing: -1px;
        height: 80px;
    }
    #subtext {
        font-size: 1em;
    }
    #contact_button a {
        padding: 10px 18px 10px 18px;
        font-size: 14px;
        width: 140px;
    }
    #arrowdown a img {
        width: 40px;
    }
    .examples h3 {
        font-size: 2em;
        width: 90%;
        margin: 0 auto;
    }
    .examples {
        height: 600px;
    }
    #bcruz {
        height: 710px;
    }
    #backtop a {
        display: none;
    }
    .typed-cursor {
        padding: 0 3px;
    }
}
@media screen and (max-width: 420px) {
    #top {padding-top: 80px; min-height: 750px;}
    #profile_pic {width: 35%;}
    #headline {
        font-size: 1.6em;
        height: 60px;
        margin-top: 55px;
    }
    .madein span {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    #headline {
        font-size: 1.4em;
        letter-spacing: -1px;
        height: 50px;
        margin-top: 35px;
    }
    #subtext {
       font-size: 0.9em;
    }
    #contact_button a {margin-top: 50px;}
}