
.icon-behance:before { content: '\e800'; } /* '' */
.icon-codepen:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-music-note:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */